.row
  .col-sm-12
    = panel do
      = panel_body do
        = simple_form_for @club, wrapper: :vertical_form do |f|
          .row
            .col-sm-6
              = f.input :short_name, required: false, autofocus: true
          .row
            .col-sm-6
              = date_selection_tag f, :active_until

          %hr
          = f.submit class: 'btn btn-primary'
