- breadcrumb :import_gliders

- content_for :title, t('pages.import.title')

.row
  .col-lg-12
    = panel do
      = panel_body do
        %h2= t('pages.import.steps.result')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 100%" }

        .row
          .col-sm-12
            - if @gliders.count > 0
              = title_tag t('pages.import.result.title'), 'fa-check'
              %p= t('pages.import.result.text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th= Glider.human_attribute_name('immatriculation')
                      %th= Glider.human_attribute_name('name')
                      %th= Glider.human_attribute_name('self_launching')
                      %th= Glider.human_attribute_name('double_seater')
                  %tbody
                    - @gliders.each do |glider|
                      %tr
                        %td= glider.immatriculation
                        %td= glider.name
                        %td= boolean_tag glider.self_launching
                        %td= boolean_tag glider.double_seater

            - if @failed_gliders.count > 0
              = title_tag t('pages.import.result.failed'), 'fa-close'
              %p= t('pages.import.result.failed_text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th= Glider.human_attribute_name('immatriculation')
                      %th= Glider.human_attribute_name('name')
                      %th= Glider.human_attribute_name('self_launching')
                      %th= Glider.human_attribute_name('double_seater')
                  %tbody
                    - @failed_gliders.each do |glider|
                      %tr
                        %td= glider.immatriculation
                        %td= glider.name
                        %td= boolean_tag glider.self_launching
                        %td= boolean_tag glider.double_seater

            = link_to t('pages.import.result.overview'), gliders_path, class: 'btn btn-success pull-right'
