- breadcrumb :import_gliders

- content_for :title, t('pages.import.title')

.row
  .col-lg-12
    = panel do
      = panel_body do
        %h2= t('pages.import.steps.review')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 66%" }

        .row
          .col-sm-12
            - if @valid_gliders.count > 0
              = title_tag t('pages.import.review.valid_title'), 'fa-check'
              %p= t('pages.import.review.valid_text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th
                      %th= Glider.human_attribute_name('immatriculation')
                      %th= Glider.human_attribute_name('name')
                      %th= Glider.human_attribute_name('self_launching')
                      %th= Glider.human_attribute_name('double_seater')
                  %tbody
                    - @valid_gliders.each do |glider|
                      %tr
                        %td
                          - if glider.id
                            %span.label.label-warning= t('pages.import.review.edit')
                          - else
                            %span.label.label-success= t('pages.import.review.new')
                        %td= glider.immatriculation
                        %td= glider.name
                        %td= boolean_tag glider.self_launching
                        %td= boolean_tag glider.double_seater

            - if @invalid_gliders.count > 0
              = title_tag t('pages.import.review.invalid_title'), 'fa-close'
              %p= t('pages.import.review.invalid_text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th
                      %th= Glider.human_attribute_name('immatriculation')
                      %th= Glider.human_attribute_name('name')
                      %th= Glider.human_attribute_name('self_launching')
                      %th= Glider.human_attribute_name('double_seater')
                  %tbody
                    - @invalid_gliders.each do |glider|
                      %tr
                        %td
                          %span.label.label-danger= t('pages.import.review.ignore')
                        %td= glider.immatriculation
                        %td= glider.name
                        %td= boolean_tag glider.self_launching
                        %td= boolean_tag glider.double_seater

            %hr
            .row
              .col-sm-8
                %p= t('pages.import.review.import_text')
              .col-sm-4
                = simple_form_for :review, url: wizard_path(:result), method: :put, wrapper: :vertical_form do |f|
                  - @valid_gliders.each do |glider|
                    = f.simple_fields_for "records[]", glider do |task|
                      = task.input :id,              as: :hidden
                      = task.input :immatriculation, as: :hidden
                      = task.input :name,            as: :hidden
                      = task.input :self_launching,  as: :hidden
                      = task.input :double_seater,   as: :hidden
                  = f.submit t('pages.gliders.buttons.import'), class: 'btn btn-primary pull-right'
