- breadcrumb :confirmation

- content_for :title, t('global.confirmation.title')

.row
  .col-lg-8
    = panel do
      = panel_body do
        %h2= t('global.confirmation.wizard_title')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 35%" }

        = simple_form_for resource, as: resource_name, url: update_pilot_confirmation_path, html: { method: 'patch' }, id: 'activation-form' do |f|
          = hidden_field_tag :confirmation_token, @confirmation_token

          .row
            .col-sm-6
              %h4= t 'global.confirmation.labels.security'
              = f.input :password, required: false
              = f.input :password_confirmation, required: false
            .col-sm-6
              %h4= t 'global.confirmation.labels.you'
              = f.input :first_name, required: false
              = f.input :last_name, required: false
              = f.submit t('global.confirmation.labels.continue'), class: 'btn btn-primary'
