.brand.visible-xs
  = image_tag 'LogoBlue.png', class: 'brand-img', height: '36px'
  %h3.brand-text.font-size-40= t 'global.application.title'

%h3.font-size-24= t 'global.sign_up.title'
%p= t 'global.sign_up.subtitle'

= render partial: 'layouts/devise/alerts'

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-inputs
    = f.simple_fields_for :club do |c|
      = c.input :short_name, label: false, required: true, autofocus: true
  .form-inputs
    = f.input :email,                 label: false, required: true
    = f.input :password,              label: false, required: true
    = f.input :password_confirmation, label: false, required: true

  .form-actions
    = f.button :submit, t('global.sign_up.buttons.submit'), class: 'btn btn-primary btn-block'

%p
  = t 'global.sign_up.labels.already_a_club'
  = link_to t('global.sign_up.links.sign_in'), new_session_path(resource_name), data: { no_turbolink: true }
