%p= t 'global.change_password.subtitle'

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-group
    = f.input :password, label: false, required: true, autofocus: true
  .form-group
    = f.input :password_confirmation, label: false, required: true
  = f.button :submit, t('global.change_password.buttons.submit'), class: 'btn btn-primary block full-width m-b'

  %p.text-muted.text-center
    %small= t 'global.change_password.labels.already_a_club'
  = link_to t('global.change_password.links.sign_in'), new_session_path(resource_name), class: 'btn btn-sm btn-white btn-block'
