.brand.visible-xs
  = image_tag 'LogoBlue.png', class: 'brand-img', height: '36px'
  %h3.brand-text.font-size-40= t 'global.application.title'

%h3.font-size-24= t 'global.change_password.title'
%p= t 'global.change_password.subtitle'

= render partial: 'layouts/devise/alerts'

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-inputs
    = f.input :password,              label: false, required: true, autofocus: true
    = f.input :password_confirmation, label: false, required: true

  .form-actions
    = f.button :submit, t('global.change_password.buttons.submit'), class: 'btn btn-primary btn-block'

%p
  = t 'global.change_password.labels.already_a_club'
  = link_to t('global.change_password.links.sign_in'), new_session_path(resource_name), data: { no_turbolink: true }


