%p= t 'global.password_forget.subtitle'

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .form-group
    = f.input :email, required: false, label: false, autofocus: true, class: 'form-control'
  = f.button :submit, t('global.password_forget.buttons.submit'), class: 'btn btn-primary block full-width m-b'

  %p.text-muted.text-center
    %small= t 'global.password_forget.labels.already_a_club'
  = link_to t('global.password_forget.links.sign_in'), new_session_path(resource_name), class: 'btn btn-sm btn-white btn-block'
