%p= t 'global.sign_in.subtitle'

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.input :email, required: false, label: false, autofocus: true, class: 'form-control'
  .form-group
    = f.input :password,  required: false, label: false, class: 'form-control'
  = f.button :submit, t('global.sign_in.buttons.submit'), class: 'btn btn-primary block full-width m-b'

  = link_to new_password_path(resource_name) do
    %small= t('global.sign_in.links.forgot_password')
