.row
  .col-lg-2
  .col-lg-8
    = panel do
      = panel_body do
        %h2= t('global.confirmation.title')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 70%" }

        .row
          .col-sm-12
            %h1= Plan.cumulus.name
            %p
              %span.label.label-warning.label-lg
                = number_to_currency Plan.cumulus.decimal_amount
                = "/ #{t('global.confirmation.labels.month')}"

        .row
          .col-sm-6
            %ul.pricing
              - (0..4).each do |index|
                %li= t("global.confirmation.pack.#{index}")
          .col-sm-6
            .panel.panel-default
              .panel-heading= t('global.confirmation.labels.subscribe')
              .panel-body
                %p= t('global.confirmation.labels.subscription_text').html_safe
  .col-lg-2
