- breadcrumb :payments

- content_for :title, t('global.confirmation.labels.payment')
- content_for :head do
  = render 'payola/transactions/stripe_header'

.row
  .col-lg-8
    = panel do
      = panel_body do
        = wizard_tag do
          = wizard_pearl_tag t('global.confirmation.steps.account'), 'wb-user'
          = wizard_pearl_tag t('global.confirmation.steps.payments'), 'wb-payment', true
        .row
          .col-sm-12.col-lg-8
            .pricing-list
              .pricing-header
                .pricing-title= @plan.name
                .pricing-price
                  %span.pricing-amount= number_to_currency @plan.decimal_amount
                  %span.pricing-period= "/ #{t('global.confirmation.labels.month')}"
              %ul.pricing-features
                - (0..4).each do |index|
                  %li= t("global.confirmation.pack.#{index}").upcase
              .pricing-footer
                = render 'payola/subscriptions/checkout', plan: @plan, button_class: 'btn btn-primary btn-outline', button_text: t('global.confirmation.labels.subscribe'), description: "Subscripe to this pack for #{number_to_currency(@plan.decimal_amount)}. You can cancel your subscription at any time your want.", plan_image_path: image_path('LogoBlue@2x'), email: current_pilot.email
