- breadcrumb :payments

- content_for :title, t('global.confirmation.labels.payment')
- content_for :head do
  = render 'payola/transactions/stripe_header'

.row
  .col-lg-8
    = panel do
      = panel_body do
        = wizard_tag do
          = wizard_pearl_tag t('global.confirmation.steps.account'), 'wb-user'
          = wizard_pearl_tag t('global.confirmation.steps.payments'), 'wb-payment', true

        - Pack.all.each do |pack|
          = render 'payola/subscriptions/checkout', plan: pack
