- content_for :image, 'Password.jpg'

%tr
  %td.content-block
    %h3= t 'mail.password_reset.labels.hello', name: @resource.first_name || @resource.email

%tr
  %td.content-block= t 'mail.password_reset.labels.link_text'
%tr
  %td.content-block= t 'mail.password_reset.labels.not_requested'
%tr
  %td.content-block= t 'mail.password_reset.labels.unchanged_text'

%tr
  %td.content-block.aligncenter
    = link_to t('mail.password_reset.labels.change_password'), edit_password_url(@resource, reset_password_token: @token), class: 'btn-primary'
