.widget-body
  %h4= t 'mail.password_reset.labels.hello', name: @resource.first_name
  %p= t 'mail.password_reset.labels.link_text'
  %p= link_to t('mail.password_reset.labels.change_password'), edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary widget-readMore'
  %p= t 'mail.password_reset.labels.not_requested'
  %p= t 'mail.password_reset.labels.unchanged_text'
