- breadcrumb :import_pilots

- content_for :title, t('pages.import.title')

.row
  .col-lg-12
    = panel do
      = panel_body do
        %h2= t('pages.import.steps.review')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 66%" }

        .row
          .col-sm-12
            - if @valid_pilots.count > 0
              = title_tag t('pages.import.review.valid_title'), 'fa-check'
              %p= t('pages.import.review.valid_text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th
                      %th= Pilot.human_attribute_name('email')
                      %th= Pilot.human_attribute_name('name')
                  %tbody
                    - @valid_pilots.each do |pilot|
                      %tr
                        %td
                          - if pilot.id
                            %span.label.label-warning= t('pages.import.review.edit')
                          - else
                            %span.label.label-success= t('pages.import.review.new')
                        %td= pilot.email
                        %td= pilot.name

            - if @invalid_pilots.count > 0
              = title_tag t('pages.import.review.invalid_title'), 'fa-close'
              %p= t('pages.import.review.invalid_text')
              .table-responsive
                %table.table
                  %thead
                    %tr
                      %th
                      %th= Pilot.human_attribute_name('email')
                      %th= Pilot.human_attribute_name('name')
                  %tbody
                    - @invalid_pilots.each do |pilot|
                      %tr
                        %td
                          %span.label.label-danger= t('pages.import.review.ignore')
                        %td= pilot.email
                        %td= pilot.name

            %hr
            .row
              .col-sm-8
                %p= t('pages.import.review.import_text')
              .col-sm-4
                = simple_form_for :review, url: wizard_path(:result), method: :put, wrapper: :vertical_form do |f|
                  - @valid_pilots.each do |pilot|
                    = f.simple_fields_for "records[]", pilot do |task|
                      = task.input :id,         as: :hidden
                      = task.input :email,      as: :hidden
                      = task.input :first_name, as: :hidden
                      = task.input :last_name,  as: :hidden
                  = f.submit t('pages.pilots.buttons.import'), class: 'btn btn-primary pull-right'
