- breadcrumb :import_pilots

- content_for :title, t('pages.import.title')

.row
  .col-lg-12
    = panel do
      = panel_body do
        %h2= t('pages.import.steps.upload')
        .progress
          .progress-bar.progress-bar-primary{ role: "progressbar", style: "width: 33%" }

        .row
          .col-sm-6
            = title_tag t('pages.import.upload.help.title'), 'wb-help-circle'
            %p= t('pages.import.upload.help.select_text', link: link_to('Wikipedia', 'https://en.wikipedia.org/wiki/Comma-separated_values')).html_safe
            %p= t('pages.import.upload.help.format_text').html_safe
            %pre.well
              = preserve do
                :escaped
                  email,           first_name, last_name
                  jake@snake.be,   Jake,       Snake
                  jake@kitten.be,  Jake,       Kitten

          .col-sm-6
            = simple_form_for @import_object, url: wizard_path(:review), method: :put, wrapper: :vertical_form do |f|
              = f.input :csv, as: :file, required: false, accept: "text/csv"
              = f.submit class: 'btn btn-primary'
