.panel
  .panel-body.container-fluid
    = simple_form_for @glider do |f|
      .row
        .col-sm-6
          = f.input :immatriculation, required: true
          = f.input :name, required: true
        .col-sm-6
          = f.input :double_seater
          = f.input :self_launching
      .row
        .col-sm-12
          = f.submit 'Save'
