.row
  .col-sm-6
    = panel do
      = panel_body do
        = simple_form_for @glider do |f|
          = f.input :immatriculation, required: true, autofocus: true
          = f.input :name,            required: true
          = checkbox_tag f, :double_seater
          = checkbox_tag f, :self_launching
          = f.submit class: 'btn btn-primary'
