- content_for :title, t('pages.gliders.titles.index')

.row
  .col-lg-12
    .panel
      %header.panel-heading
        %h3.panel-title= t 'global.titles.overview'
        .panel-actions
          = link_to new_glider_path, class: 'btn btn-sm btn-icon btn-flat btn-default', data: { toggle: 'tooltip', 'original-title' => t('global.links.new') } do
            %i.icon.wb-plus{ aria: { hidden: 'true' } }

      .panel-body
        %table.table.table-responsive
          %thead
            %tr
              %th Immatriculation
              %th Name
              %th{ style: 'width: 6em' }
          %tbody
            - @gliders.each do |glider|
              %tr
                %td= link_to glider.immatriculation, glider
                %td= glider.name
                %td
                  = link_to edit_glider_path(glider), class: 'btn btn-sm btn-icon btn-flat btn-default', data: { toggle: 'tooltip', 'original-title' => t('global.links.edit') } do
                    %i.icon.wb-wrench{ aria: { hidden: 'true' } }
                  = link_to glider, method: :delete, class: 'btn btn-sm btn-icon btn-flat btn-default', data: { confirm: t('global.labels.delete_confirmation'), toggle: 'tooltip', 'original-title' => t('global.links.delete') } do
                    %i.icon.wb-close{ aria: { hidden: 'true' } }
