- breadcrumb :gliders

- content_for :title, t('pages.gliders.titles.index')
- content_for :search do
  = search_form_tag gliders_path, t('global.labels.search.gliders')

.row
  .col-lg-12
    = panel do
      = panel_heading do
        = export_tag do
          = export_xls_to gliders_path(format: :xls)
        .pull-right
          - if can? :create, Glider
            = add_link_to new_glider_path
            = import_link_to import_gliders_path
      = panel_body do
        .table-responsive
          %table.table
            %thead
              %tr
                %th= Glider.human_attribute_name('immatriculation')
                %th= Glider.human_attribute_name('name')
                %th= Glider.human_attribute_name('self_launching')
                %th= Glider.human_attribute_name('double_seater')
                %th{ style: 'width: 9em' }
            %tbody
              - if @gliders.count == 0
                %tr.no-records-found
                  %td{ colspan: 5 }= t 'pages.gliders.labels.empty'
              - else
                - @gliders.each do |glider|
                  %tr
                    %td
                      %span.avatar= avatar_image_tag glider.avatar, :thumb, height: 35, class: 'img img-circle lazy'
                      = link_to glider.immatriculation.upcase, glider
                    %td= glider.name
                    %td= boolean_tag glider.self_launching
                    %td= boolean_tag glider.double_seater
                    %td
                      - if can? :update, glider
                        = edit_link_to edit_glider_path(glider)
                      - if can? :destroy, glider
                        = delete_link_to glider
            %tfoot
              %tr
                %td.footable-visible{ colspan: '5' }= paginate @gliders
