- breadcrumb :glider, @glider, false

- content_for :title, @glider.immatriculation
- content_for :actions do
  = edit_action_link_to edit_glider_path(@glider)

.row.page-profile
  .col-lg-3
    = widget do
      = widget_header do
        %span.avatar.avatar-lg
          = avatar_image_tag @glider.avatar, :thumb, class: 'lazy'
        %h4.profile-user= @glider.immatriculation
        %p.profile-job= @glider.name
      = widget_footer do
        .row.no-space
          .col-xs-6
            %strong.profile-stat-count N/A
            %span= t('pages.gliders.labels.flights', count: 1)
          .col-xs-6
            %strong.profile-stat-count N/A
            %span= t('pages.gliders.labels.hours', count: 100)
