!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ content: 'IE=edge', name: 'X-UA-Compatible' }

    %title= t 'global.title'

    %link{ rel: "apple-touch-icon", href: asset_path('apple-touch-icon.png') }
    %link{ rel: "shortcut icon", href: asset_path('favicon.ico') }

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body{ class: !current_pilot || cookies[:mini_navbar] == 'true' ? 'mini-navbar' : nil }
    #wrapper
      - if current_pilot
        = render partial: 'layouts/left_navigation'
      - left_class = current_pilot ? '' : ' no-left-menu'
      #page-wrapper{ class: "gray-bg#{left_class}" }
        = render partial: 'layouts/top_navigation'
        = render partial: 'layouts/content'
        = render partial: 'layouts/footer'

    #modal-holder

    = yield :javascript

    - if flash[:notice]
      :javascript
        toastr.success("#{flash[:notice]}")
    - if flash[:alert]
      :javascript
        toastr.success("#{flash[:alert]}")
