!!!
%html.css-menubar
  %head
    %title= t 'global.title'

    %meta{ content: 'text/html; charset=UTF-8',                                           'http-equiv' => 'Content-Type' }
    %meta{ content: 'IE=edge',                                                            'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=0', name: 'viewport' }

    %link{ rel: "apple-touch-icon", href: asset_path('apple-touch-icon.png') }
    %link{ rel: "shortcut icon", href: asset_path('favicon.ico') }

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    %nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega{ role: 'navigation' }
      = render partial: 'layouts/brand'
      = render partial: 'layouts/top_navigation'

    = render partial: 'layouts/left_navigation'
    = render partial: 'layouts/grid_navigation'

    .page
      .page-content= yield

    = render partial: 'layouts/footer'
