!!!
%html.css-menubar
  %head
    %title= t 'global.title'

    %meta{ content: 'text/html; charset=UTF-8',                                           'http-equiv' => 'Content-Type' }
    %meta{ content: 'IE=edge',                                                            'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=0', name: 'viewport' }

    %link{ rel: "apple-touch-icon", href: asset_path('apple-touch-icon.png') }
    %link{ rel: "shortcut icon", href: asset_path('favicon.ico') }

    = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all'

    = csrf_meta_tags

  %body
    %nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega{ role: 'navigation' }
      = render partial: 'layouts/brand'
      .navbar-container.container-fluid
        #site-navbar-collapse.collapse.navbar-collapse.navbar-collapse-toolbar
          = render partial: 'layouts/top_navigation_menu'
          - if current_pilot
            %ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
              = render partial: 'layouts/top_navigation_user'

    - unless force_payments_wizard?
      = render partial: 'layouts/left_navigation'
      = render partial: 'layouts/grid_navigation'

    .page
      = render partial: 'layouts/ribbon'
      .page-header
        %h1.page-title= yield(:title)
        = breadcrumbs style: :ol, class: 'breadcrumb', current_class: 'active'
        - if header_actions = yield(:actions)
          .page-header-actions.hidden-xs= header_actions
      .page-content
        = yield

    = render partial: 'layouts/footer'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    - if flash[:notice]
      :javascript
        $(function() {
          toastr.options.showMethod = 'slideDown';
          toastr.options.closeButton = true;
          toastr.options.timeOut = 5000;
          toastr.success("#{flash[:notice]}");
        })
    - if flash[:alert]
      :javascript
        $(function() {
          toastr.options.showMethod = 'slideDown';
          toastr.options.closeButton = true;
          toastr.options.timeOut = 5000;
          toastr.error("#{flash[:alert]}");
        })
