!!!
%html
  %head
    %title Cumulus

    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

    = stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body

    %p.notice= notice
    %p.alert= alert

    = yield
