!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }

    %title= t 'global.title'

    %link{ rel: "apple-touch-icon", href: asset_path('apple-touch-icon.png') }
    %link{ rel: "shortcut icon", href: asset_path('favicon.ico') }

    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true, media: 'all'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body.gray-bg

    .middle-box.text-center.loginscreen.animated.fadeInDown
      %div
        %div
          %h1.logo-name= image_tag('Logo.png', height: 170)
        %h3= t 'global.application.title'

        = yield

        %p.m-t
          %small= t('global.footer.crafted_by', name: 'Jelle Vandebeeck', year: Time.zone.now.year)

    = javascript_include_tag 'devise'
    = yield :javascript

    - if flash[:notice]
      :javascript
        toastr.success("#{flash[:notice]}")
    - if flash[:alert]
      :javascript
        toastr.error("#{flash[:alert]}")
