!!!
%html
  %head
    %title= t 'global.title'

    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

    = stylesheet_link_tag    'devise', 'data-turbolinks-track' => true, media: 'all'
    = javascript_include_tag 'devise', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body.page-login-v2.layout-full.page-dark
    - page_class = alert ? nil : 'animsition'
    .page{ class: page_class, data: { animsition: { in: "fade-in", out: "fade-out" } } }
      .page-content
        = render partial: 'layouts/devise/brand'
        .page-login-main
          = yield
          = render partial: 'layouts/devise/footer'
