- breadcrumb :account

- content_for :title, t('pages.accounts.labels.club', name: current_club.short_name.upcase)
- content_for :head do
  = render 'payola/transactions/stripe_header'

= current_plan.name
%br
= current_subscription.try(:state)
%br
= current_subscription.try(:stripe_status)

.row
  .col-lg-10
    = panel do
      = panel_body do
        = tabs_tag do
          = tab_link_to t('pages.accounts.labels.tabs.payment'), 'payment', 'payment', params['tab'] == 'payment'

        = tab_content do
          = tab_pane 'payment', params['tab'] == 'payment' do
            .row
              = render 'payola/subscriptions/cancel', subscription: current_subscription
              = render partial: 'layouts/stripe/plans', locals: { plans: Plan.all }
