- breadcrumb :account

- content_for :title, t('pages.accounts.labels.club', name: current_club.short_name.upcase)

.row
  .col-lg-5
    = tab_container do
      = tabs_tag do
        = tab_link_to t('pages.accounts.labels.tabs.payment'), 'payment', 'payment', params['tab'] == 'payment'

      = tab_content do
        = tab_pane 'payment', params['tab'] == 'payment' do
          .row
            .col-sm-12
              %ul.list-group.list-group-full
                %li.list-group-item
                  = t('pages.accounts.labels.subscription_status')
                  - if true
                    %span.badge.badge-success= 'paid'
                  - else
                    %span.badge.badge-danger= 'unpaid'
                - if true
                  %li.list-group-item
                    = t('pages.accounts.labels.trial_status')
                    %span.badge.badge-success 12/02/2015

          .row
            .col-sm-12
              - if true
                %p= t 'pages.accounts.labels.cancel_text'
              - else
                %p= t 'pages.accounts.labels.cancel_text'
